/* form section css start here */
.form-section {
    max-width: 100%;
    position: relative;
}

.card-section-wrapper {
    width: 1319px;
    border-radius: 32px;
}

.form-section .form-section-inner {
    max-width: 100%;
    position: relative;
    width: 276px;
    min-height: 650px;
    background: #BFACE2;
    border-radius: 46px;
    margin: 25PX;
    padding-left: 55px;
    padding-top: 50px;
    margin-left: 85px;
}

.add-btn-div {
    position: absolute;
    top: 20px;
    left: 40px;
    cursor: pointer;
    z-index: 999;
}

.disable-btns {
    opacity: 0.5;
}

.minus-btn-div {
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
    z-index: 999;
}

.card-section {
    width: 100%;
    height: 550px;
    background: linear-gradient(304.24deg, #F8F8FF 0%, #FFFFFF 86.71%);
    box-shadow: 0px 49px 32px -19px rgba(56, 56, 150, 0.15);
    border-radius: 32px;
    padding: 35px;
    transform-origin: center top;
}
.card-section.first-ele {
    position: absolute;
}

.heading-title {
    margin: 0 25px 25px 25px;
    text-align: center;
    color: #655DBB;
}

.form-group {
    position: relative;
    font-size: 12px;
    max-width: 100%;
}

.form-group label {
    max-width: 100%;
    width: 250px;
}

.form-group .error-msg {
    padding-left: 5px;
    padding-top: 5px;
}

.form-group .error-msg p {
    font-size: 12px;
    font-weight: 500;
    color: red;
}

.form-group.error-show input {
    border: 1px solid red;
}

.form-group.success input {
    border: 1px solid green;
}

.form-group .input-field_label {
    display: block;
    padding: 0 0.75rem;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 3.5em;
    transition-duration: 0.1s;
    transition-property: font-size, opacity, line-height;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 2;
    font-family: Gotham, Arial, sans-serif;
    font-weight: 400;
    color: #022741;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form-group .input-field_label.input-focus {
    top: 0.5rem;
    line-height: 1.2rem;
    font-size: 11px;
}

.form-group .input-field_label.input-active {
    top: 0.5rem;
    line-height: 1.2rem;
    font-size: 11px;
}

[type=email],
[type=number],
[type=password],
[type=tel],
[type=text],
[type=time],
[type=username],
textarea {
    border-radius: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    line-height: 4em;
    min-height: 3.5em;
    color: #222;
    border: 1px solid #6C6C6C;
    background: #FFFFFF;
    padding: 0 0.75rem;
    width: 100%;
    font-weight: 500;
    border-radius: 10px;
}

[type=email]:hover,
[type=number]:hover,
[type=password]:hover,
[type=tel]:hover,
[type=text]:hover,
[type=time]:hover,
[type=username]:hover,
textarea:hover {
    border: 1px solid #666;
    background: #E8E8FD
}

[type=email]:focus,
[type=number]:focus,
[type=password]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=username]:focus,
textarea:focus {
    border: 2px solid #6C6C6C;
    background: #E8E8FD;
    outline: none
}

.form-group .input-field {
    height: auto;
    line-height: 1;
    padding-top: 1.8em;
    padding-bottom: 0.5rem;
}

.input-field_required {
    color: #ac0000;
    font-family: arial, sans-serif;
    font-size: 19px;
    line-height: 1;
    font-weight: normal;
    vertical-align: middle;
}

.form-group label.email-label {
    width: 350px;
}

.form-flex-wrapper {
    gap: 35px;
    margin-bottom: 30px;
}

.form-group #inputDob {
    caret-color: transparent;
}

.btn-div {
    margin-top: 20px;
}

.btn.btn-color {
    outline-color: #BFACE2;
    background-color: #BFACE2;
    border: 1px solid #BFACE2;
    cursor: pointer;
}

.btn.btn-color:active {
    transform: scale(1.1);
    color: black;
    background-color: #ECF2FF;
    border-color: black;
}

.main-wrapper {
    align-items: center;
    /* gap: 40px; */
    justify-content: space-between;
}

.card-section-img {
    max-width: 100%;
    width: 260px;
    /* min-height: 370px; */
    min-height: 60px;
    background: #ECF2FF;
    border-radius: 20px;
    /* display: grid;
    place-items: center; */
    cursor: pointer;
    padding: 25px;
}

.card-section-img.inputFileUpload {
    min-height: 350px;
    padding: 16px;
}

.inputFileUpload .form-group {
    display: none !important;
}

.input-file-type.input-field {
    display: none;
}

label.file-label {
    width: unset;
    cursor: pointer;
}

.form-group .file-label span {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
}

.photo-upload-img {
    width: 100%;
    height: 100%;
}

.modal-content {
    width: 655px;
}

.modal-body {
    width: 650px;
    height: 490px;
    background-color: #ECF2FF;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #3E54AC;
}

.nav-item:active {
    color: black;
    background-color: #ECF2FF;
    border-radius: 5px;
}

.nav-item.dropdown {
    color: black;
    background-color: unset;
    border-radius: 0;
}

.dropdown-toggle::after {
    display: none;
}

.nav-link,
.navbar-brand {
    color: white;
}

.nav-link:hover,
.navbar-brand:hover {
    color: white;
    transform: scale(1.1);
}

.container {
    position: relative;
}

/* form section css end here */

.card-section.cloned {
    position: absolute;
    top: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* box-shadow: none; */
}

.card-section-img .form-group .error-msg {
    position: absolute;
    top: 100%;
}

.mobile-wrapper-nav-icon {
    display: flex;
    align-items: center;
}

.sideBar-cardClone {
    width: 1319.5px;
    height: 90px;
    background-color: #655DBB;
    position: absolute;
    border-radius: 20px;
    padding: 1px;
    left: 66.8px;
    top: 8px;
    padding-left: 44px;
    display: flex;
    gap: 5px;
}

.sideBar-cardClone .select-item {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: white;
}

.sideBar-cardClone .select-item a {
    font-size: 16px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.select-item.active {
    background-color: #ECF2FF;
    border-radius: 50%;
    color: black;
}

.comesForward {
    position: relative;
    z-index: 1;
}

.comesForward.cloned {
    z-index: 1;
}

.right-side-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-p {
    font-size: 12px;
    font-weight: 500;
    color: red;
}

/* responsive design */
@media screen and (max-width:919px) {
    .hide-in-mobile {
        display: none;
    }

    .mobile-d-flex {
        display: flex;
        flex-direction: column;
    }

    .btn-close.btn-close-white {
        display: block;
    }

    .nav-mobile {
        justify-content: space-between;
    }

    .offcanvas.offcanvas-end {
        padding: 10px;
    }

    .navbar-nav.mr-auto {
        width: 100%;
        margin-bottom: 5px;
    }

    .mobile-wrapper-nav-icon {
        display: flex;
        justify-content: space-between;
    }

    .nav-item.dropdown {
        width: 100%;
        padding: 5px 15px 5px 5px;
        text-align: right;
    }

    .text-bg-dark {
        background-color: #655DBB !important;
    }

    .desktop-dsp-none {
        display: block;
    }

    .mobile-d-flex .nav-item,
    .mobile-d-flex .nav-link {
        padding: 10px;
    }

    .form-section.main {
        margin: 0;
        width: 130px;
        min-height: 550px;
        padding: 0;
    }

    .form-section.main .card-section {
        width: 350px;
        height: max-content;
    }

    .add-btn-div {
        left: 13px;
    }

    .minus-btn-div {
        right: 0;
    }

    .main-wrapper {
        flex-direction: column;
        gap: 0;
    }

    .left-side-wrapper,
    .left-side-wrapper {
        width: 100%;
    }

    .form-section.main .form-flex-wrapper {
        flex-direction: column;
    }

    .form-section.main .form-group label {
        width: 100%;
    }

    .cropper-container {
        max-width: 100%;
    }

    .right-side-wrapper {
        display: flex;
        order: -1;
        margin-bottom: 20px;
    }

    .sideBar-cardClone {
        padding-left: 15px;
        width: 350px;
        left: 12px;
        top: 5px;
        height: 75px;
    }

    .sideBar-cardClone .select-item {
        padding: 5px;
        width: 35px;
        height: 35px;
    }

    .sideBar-cardClone .select-item a {
        font-size: 14px;
    }
    .card-section-wrapper {
        width: 100%;
    }
    .form-section.main .form-section-inner {
        height: 1137px;
    }
    .comesForward.cloned {
        z-index: 999;
    }
    .modal-body {
        width: 100%;
    }
    .modal-content {
        width: 100%;
    }
}

/* responsive design */