* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #E8E8FD;
}

.d-flex {
  display: flex;
}

.all-center {
  align-items: center;
}

.dsp-none {
  display: none;
}

.i-dsp-none {
  display: none !important;
}

/* hide in desktop */
.desktop-dsp-none {
  display: none;
}

/* hide in mobile */
@media screen and (max-width:767px) {
  .mobile-dsp-none {
    display: none;
  }
}

.text-center {
  text-align: center;
}

/* loader */
.lds-dual-ring.active {
  display: inline-block;
}

.lds-dual-ring {
  margin: 0 auto;
  display: none;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #655DBB;
  border-color: #655DBB transparent #655DBB transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* loader */

@media screen and (max-width:767px) {
  
  .nav-mobile {
    padding-left: 18px;
  }
}


